.bg-dark {
    background-color: #343a40 !important;
  }
  .bg-light {
    background-color: #f8f9fa !important;
  }
  .text-dark {
    color: #343a40 !important;
  }
  .text-white {
    color: #ffffff !important;
  }
  .main-container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100vh;
  }