.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.spinerCon {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.searchDark {
  background-color: #333 !important;
  color: #fff !important;
}

.searchLight {
  background-color: #fff !important;
  color: #000 !important;
}

.headerCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table {
  margin-top: 10px;
}

.tittleHead {
  margin-bottom: 0px !important;
}

.addImg {
  width: 20px;
  height: 20px;
}

.editBtn {
  width: 20px;
  height: 20px;
}

.deleteBtn {
  width: 20px;
  height: 20px;
}

.actionsColumn {
  display: flex;
}

.btnEdit {
  margin-right: 15px;
}

